/* Image Protection CSS */

/* Disable image selection and dragging */
img {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
  pointer-events: auto;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

/* Prevent context menu on images */
img {
  -webkit-touch-callout: none;
}

/* Specifically protect author profile image */
.author__avatar img,
.sidebar img {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
  -webkit-user-drag: none !important;
  user-drag: none !important;
  pointer-events: auto !important;
}

/* Add a transparent overlay on hover to prevent right-click on images */
img::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
